/* ----------------- Fonts Apply ----------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* --------- Top Section START --------- */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-section{
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
}
.top-part{
    display: flex;
    justify-content: space-between;
}
.top-text{
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 27px;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}
.watch-button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    margin-left: 156px;
    border: none;
}
.watch-button a, .match-button a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    font-size: 15px;
    color: #FFFFFF;
    padding-left: 5px;
}
.game img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-right: 140px;
    margin-bottom: 85px;
    transition: width 2s, height 2s, transform 2s;
}
.game img:hover {
    width: 300px;
    height: 300px;
    transform: rotate(90deg);
}
/* --------- Top Section END --------- */


/*-------- Middle Section Part Start --------- */
.middle-section-player{
    width: 1440px;
    height: 3200px;
    background-color: #FFFFFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 70px;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img img{
    width: 300px;
    height: 256px;
    padding: 15px;
    border-radius: 20px;
}
.info{
    width: 300px;
    height: 154px;
    color: #18191F;
    padding: 15px;
    padding-top: 0;
}
.info-text{
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}
.info p, .match-left p{
    font-size: 16px;
    color: #6C6C6C;
}
/*-------- Middle Section Part END --------- */


/* --------- BOTTOM SECTION START --------- */
.bottom{
    display: flex;
    justify-content: space-between;
}
.match-left{
    width: 467px;
    height: 309px;
    margin-left: 182px;
    margin-top: 224px;
}
.match-right{
    width: 567px;
    height: 427px;
    margin-top: 156px;
    margin-right: 165px;
}
.match-text{
    font-size: 48px;
    font-weight:  700;
    color: #0A0826;
    margin: 0;
}
.match-button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    border: none;
}
.match-right img{
    width: 567px;
    height: 427px;
}
/* --------- BOTTOM SECTION END --------- */


/* --------- FOOTER START --------- */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
}
.footballs{
    width: 484px;
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icon{
    width: 170px;
    height: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 14px;
    justify-items: center;
    align-content: center;
    margin: 20px 0px;
}
#color{
    font-size: 25px;
    color: grey;
}
.football img{
    width: 484px;
    height: 110px;
}
.foot-text{
    font-size: 18px;
    color: #000000;
}
/* --------- FOOTER END --------- */

/* --------- MDIA QUERIES --------- */
/* --------- Responsive for Mobile Devices --------- */
@media only screen and (max-width: 688px) {
    .container, .top-section{
        width: 100%;
    }
    .top-part{
        flex-direction: column;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

/* Tablet Devices */


/* Tablet Devices */
@media only screen and (min-width: 668px) and (max-width: 992px) {
    .container, .top-section{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}